<header class="header-list">
    <div class="div-list ">
        <ul class="ul-list">
            <li class="active">
                <i class="fa-solid fa-home"></i>
                <a href="#home" (click)="scrollTo('home', $event)">Home</a>
            </li>
            <li>
                <i class="fa-solid fa-address-card"></i>
                <a href="#about" (click)="scrollTo('about', $event)">About</a>
            </li>
            <li>
                <i class="fa-solid fa-code"></i>
                <a href="#skills" (click)="scrollTo('skills', $event)">Skills</a>
            </li>
            <li><a href="#project" class="nav-link"><i class="fa-solid fa-folder-open"></i> Projects</a></li>
            <li><a href="#world" class="nav-link"><i class="fa-solid fa-globe"></i> World</a></li>
            <li><a href="#contact" class="nav-link"><i class="fa-solid fa-envelope"></i> Contact</a></li>
        </ul>
    </div>
</header>