<footer class="footer">
    <div class="footer-container">
        <h2 class="footer-logo">Kishore Vaddi</h2>
        <ul class="footer-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#project">Projects</a></li>
            <li><a href="#world">World</a></li>
            <li><a href="#achievements">Achievements</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="footer-social">
            <a href="https://github.com" target="_blank" aria-label="GitHub"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/kishorevaddi" target="_blank" aria-label="LinkedIn"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://x.com/kishore__pspk" target="_blank" aria-label="Twitter"><i
                    class="fa-brands fa-x-twitter"></i></a>
        </div>
    </div>
</footer>