<section class="project" id="project">
    <p>PROJECTS</p>
    <h1>Featured Work</h1>
    <hr>
    <div class="info-pro">
        <p>A showcase of my recent projects demonstrating expertise in full-stack </p>
        <p>development, cybersecurity, and secure coding practices.</p>
    </div>
    <div class="projects-container">

        <div class="project-card">

            <h3>Mini E-Commerce Platform</h3>
            <p>Farmer-to-buyer platform with voice prompts and modular backend.</p>
            <div class="skills">
                <a href="#">Angular</a>
                <a href="#">Spring Boot</a>
                <a href="#">MySQL</a>
            </div>
            <div class="btns">
                <a href="https://github.com/KISHOREVADDI/E-commerce-Frontend-demo" class="btn"><i
                        class="fab fa-github"></i> GitHub</a>
                <!-- <a href="#" class="btn"><i class="fas fa-external-link-alt"></i> Live Demo</a> -->
            </div>
        </div>

        <div class="project-card">

            <h3>Sustainable Farming Market Place</h3>
            <p>Secure marketplace with CRUD operations for Microsoft Imagine Cup.</p>
            <div class="skills">
                <a href="#">Angular</a>
                <a href="#">Spring Boot</a>
                <a href="#">Java</a>
            </div>
            <div class="btns">
                <a href="https://github.com/KISHOREVADDI/sustainable" class="btn"><i class="fab fa-github"></i>
                    GitHub</a>
            </div>
        </div>

        <div class="project-card">

            <h3>Portfolio Website</h3>
            <p>Personal portfolio integrated with Email.js and deployed on Firebase.</p>
            <div class="skills">
                <a href="#">Angular</a>
                <a href="#">Email.js</a>
                <a href="#">Firebase</a>
            </div>
            <div class="btns">
                <a href="https://github.com/KISHOREVADDI/portfolio" class="btn"><i class="fab fa-github"></i> GitHub</a>
            </div>
        </div>

    </div>
</section>