<section class="project" id="project">
    <p [animateOnScroll]="'anim-slide-down'" [animDelay]="0">PROJECTS</p>
    <h1 [animateOnScroll]="'anim-fade-up'" [animDelay]="100">Featured Work</h1>
    <hr [animateOnScroll]="'anim-fade-up'" [animDelay]="150">
    <div class="info-pro" [animateOnScroll]="'anim-fade-up'" [animDelay]="200">
        <p>A showcase of my recent projects demonstrating expertise in full-stack </p>
        <p>development, cybersecurity, and secure coding practices.</p>
    </div>
    <div class="projects-container">

        <div class="project-card" [animateOnScroll]="'anim-fade-up'" [animDelay]="150">

            <h3>Mini E-Commerce Platform</h3>
            <p>Farmer-to-buyer platform with voice prompts and modular backend.</p>
            <div class="skills">
                <a href="#">Angular</a>
                <a href="#">Spring Boot</a>
                <a href="#">MySQL</a>
            </div>
            <div class="btns">
                <a href="https://github.com/KISHOREVADDI/E-commerce-Frontend-demo" class="btn"><i
                        class="fab fa-github"></i> GitHub</a>
                <!-- <a href="#" class="btn"><i class="fas fa-external-link-alt"></i> Live Demo</a> -->
            </div>
        </div>

        <div class="project-card" [animateOnScroll]="'anim-fade-up'" [animDelay]="300">

            <h3>Hybrid File Transfer</h3>
            <p>A secure file transfer system for safely sharing files between users</p>
            <div class="skills">
                <a href="#">angular</a>
                <a href="#">Java</a>
                <a href="#">MySQL</a>
                <a href="#">Kali Linux</a>
                <a href="#">CyberSecurity</a>
                <a href="#">SpringBoot</a>
                <a href="#">ClamAV</a>
            </div>
            <div class="btns">
                <a href="https://github.com/KISHOREVADDI/HybridFileTransfer" class="btn"><i class="fab fa-github"></i>
                    GitHub</a>
            </div>
        </div>

        <div class="project-card" [animateOnScroll]="'anim-fade-up'" [animDelay]="450">

            <h3>Portfolio Website</h3>
            <p>Personal portfolio integrated with Email.js and deployed on Vercel.</p>
            <div class="skills">
                <a href="#">Angular</a>
                <a href="#">Email.js</a>
                <a href="#">Vercel</a>
            </div>
            <div class="btns">
                <a href="https://github.com/KISHOREVADDI/portfolio" class="btn"><i class="fab fa-github"></i> GitHub</a>
            </div>
        </div>

    </div>
</section>