<section class="services" id="services">
    <p>SERVICES</p>
    <h1>Our Features & Services</h1>
    <hr>
    <div class="services-container">

        <div class="service-card">
            <img src="assets/images/web.svg" alt="Web Development">
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi soluta est veniam sequi nemo.</p>
        </div>

        <div class="service-card">
            <img src="assets/images/app.svg" alt="App Development">
            <h3>App Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi soluta est veniam sequi nemo.</p>
        </div>

        <div class="service-card">
            <img src="assets/images/dm.svg" alt="Digital Marketing">
            <h3>Digital Marketing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi soluta est veniam sequi nemo.</p>
        </div>

        <div class="service-card">
            <img src="assets/images/seo.svg" alt="Email Marketing">
            <h3>Email Marketing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi soluta est veniam sequi nemo.</p>
        </div>

    </div>
</section>