<section class="home" id="home">
    <p class="home-p">
        <span class="home-s"> </span>Available for freelance work
    </p>
    <div class="home-container">
        <div class="home-section">
            <div class="info-home">
                <h1>Hi, I'm Kishore...!</h1>
                <h3><span class="typing-text"></span><span class="cursor">|</span></h3>
                <div class="info-p">
                    <p>Proactive Computer Science student specializing in Cybersecurity, with </p>
                    <p>strong skills in secure backend development and Java Full Stack.</p>
                </div>
                <div class="info-p2">
                    <p><i class="fa-solid fa-location-dot"></i> Rajahmundry, India</p>
                    <p><i class="fa-solid fa-briefcase"></i> Available Now</p>
                </div>
                <div class="btnn">
                    <button class="btn-home1" (click)="scrollTo('contact')"><i class="fa-solid fa-arrow-right"></i> Hire
                        Me</button>
                    <a href="assets/resume.pdf" target="_blank" class="btn-home2"><i class="fa-solid fa-download"></i>
                        Download CV</a>
                </div>
                <div class="hhr">
                    <hr>
                </div>
                <div class="follow">
                    <p class="followw">Follow me:</p>
                    <ul>
                        <li><a href="https://github.com/KISHOREVADDI" target="_blank"><i
                                    class="fa-brands fa-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/kishorevaddi" target="_blank"><i
                                    class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="https://x.com/kishore__pspk" target="_blank"><i
                                    class="fa-brands fa-x-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <img src="assets/images/img2.jpg" alt="">
    </div>
</section>